# ===============================
# ENV / SECRETS
# ===============================
.env

# ===============================
# PYTHON CACHE
# ===============================
__pycache__/
*.pyc

# ===============================
# DATABASE
# ===============================
db.sqlite3

# ===============================
# LOGS
# ===============================
logs/

# ===============================
# VIRTUAL ENV
# ===============================
venv/
../venv/

# ===============================
# TEST FILES (LOCAL ONLY)
# ===============================
test_angel_login.py
test_ltp_terminal.py